@model IEnumerable<Shopping.Models.OrderNumber>

@{
    ViewData["Title"] = "DisplayHistory";
}

<h1>Display History</h1>

<p>
    <a asp-action="">

    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order No.
            </th>
            <th>
                Order Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.ActionLink("Select", "OrderItemList", new { orderno = item.OrderNo /* id=item.PrimaryKey */ }) 
                </td>
            </tr>
        }





    </tbody>
</table>
